{% extends "index.html" %}
{% csrf_token %}

{% block title %}Contact{% endblock %}

{% block container %}

<div class="bg-dark" style="padding: 7%; width: 70%; border-radius: 5px; margin-top: 5%; margin-left: 15%;">
    <h1 class="text-secondary" style="width: 30%; min-width: 300px; margin-bottom: 5%;">Contact</h1>
    <div class="input-group mb-3 no-border-radius">
      <span class="input-group-text no-border-radius bg-black text-secondary border-0" id="basic-addon1" style="width: 20%">Name</span>
      <input type="text" class="form-control no-border-radius bg-dark border-secondary border-bottom text-secondary" placeholder="Enter your name" aria-label="name" aria-describedby="basic-addon1" value="{{user.first_name}}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text no-border-radius bg-black text-secondary border-0" style="width: 20%">Email</span>
      <input type="text" class="form-control no-border-radius bg-dark border-secondary border-bottom text-secondary" placeholder="Enter your email" aria-label="email" aria-describedby="basic-addon1" value="{{user.username}}">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text no-border-radius bg-black text-secondary border-0" style="width: 20%">Subject</span>
      <input type="text" class="form-control no-border-radius bg-dark border-secondary border-bottom text-secondary" placeholder="Enter subject" aria-label="subject" aria-describedby="basic-addon1">
    </div>
    <div class="input-group">
      <span class="input-group-text no-border-radius bg-black text-secondary border-0" style="width: 20%">Message</span>
      <textarea class="form-control no-border-radius bg-dark border-secondary border-bottom text-secondary" aria-label="With textarea" placeholder="Type your message"></textarea>
    </div>
    <input class="btn btn-primary bg-black no-border-radius border-0 text-secondary" type="submit" value="Submit" style="width: 100%; margin-top: 5%;">
</div>
{% endblock %}

